<div class="default-page">
    <div class="header">
    {{#if errMessage}}
        <h1 id="main-title" class="container">{{ errMessage }}</h1>
    {{else}}
        <h1 id="main-title" class="container">{{ifed store.storeTitle 'Almastore'}}</h1>
        <h3 class="container">{{ifed store.storeSubtitle 'The Official Merchandise Store'}}</h3>
    {{/if}}
    </div>
    <div class="main container clearfix">
        <!-- <h1>Getting started</h1>
        <p>Don't worry, we've got your back.</p> -->
        <ul class="getting-started">
            <li class="clearfix">
            {{#each store.products}}
                <div class="step">
                    <h3>{{name}}</h3>
                    <p><code>{{type}}</code> {{description}}</p>
                    </p>
                    <hr/>
                </div>
            {{/each}}
            </li>
        </ul>


        <div class="links">
             {{!-- <h3>All Stores</h3> --}}
            <ul class="link-list">
                <h4>All Stores</h4>
                {{#each storesList}}
                <a href="/store/{{storeAlias}}"><li>{{storeTitle}}</li></a>
                {{/each}}

            </ul>
        </div>
    </div>
</div>